@page "/C_Metas"
@rendermode InteractiveServer
@inject MetasServices MetasServices

<PageTitle>Consulta</PageTitle>
<div class="card-header">
    <h2>Consulta </h2>
    <div class='row'>
        <div class='col-md-3'>
            <label>Desde</label>
            <InputDate @bind-Value="FechaInicial" class="form-control"></InputDate>
        </div>
        <div class='col-md-3'>
            <label>Hasta</label>
            <div class="finalDate d-flex">
                <div class="me-2">
                    <InputDate @bind-Value="FechaFinal" class="form-control"></InputDate>
                </div>
                <button type="button" class="btn btn-outline-primary bi bi-arrow-clockwise" @onclick="ResetDate"></button>
                <button type="button" @onclick="Filtrar" class=" btn btn-outline-primary bi bi-search"></button>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    @* Filtro *@
    <div class='col-md-3'>
        <label>Filtro</label>
        <div class="filter-box d-flex">
            <div class="me-2">
                <InputSelect class="form-select" @bind-Value="opcion">
                    <option value=0>Sin filtro</option>
                    <option value=1>Meta Id</option>
                </InputSelect>
            </div>
            <button type="button" class="btn btn-outline-primary bi bi-arrow-clockwise" @onclick="ReiniciarFiltro"></button>
        </div>
    </div>

    <div class='col-md-6'>
        @* Criterio *@
        <label>Criterio</label>
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input id="c_search" type="text" class="form-control" @bind="criterio" disabled="@activarCriterio" />
                <button type="button" @onclick="Filtrar" class=" btn btn-outline-primary bi bi-search"></button>
            </div>
        </div>
    </div>

</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Meta ID</th>
            <th>Fecha</th>
            <th>Descripci&oacute;n</th>
            <th>Monto</th>
            <th>Editar</th>
            <th>Eliminar</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in L_Metas)
        {
            <tr>
                <td>@item.MetaId</td>
                <td>@item.Fecha.ToShortDateString()</td>
                <td>@item.Descripcion</td>
                <td>@item.Monto.ToString("N2")</td>
                <td><a href="/Ed_Metas/@item.MetaId" class="btn btn-outline-success"><i class="bi bi-pencil-square"></i></a></td>
                <td><a href="/D_Metas/@item.MetaId" class="btn btn-outline-danger"><i class="bi bi-file-earmark-x"></i></a></td>
                <td><a href="/DT_Meta/@item.MetaId" class="btn btn-outline-primary"><i class="bi bi-file-earmark-x"></i></a></td>
            </tr>
        }
    </tbody>
</table>
    <div class='col-md-16'>
        <button type="button" class="btn btn-outline-primary bi bi-list" @onclick="MostrarTodo"> Mostrar Todo</button>
        <a href="/Create_Aportes" class="btn btn-outline-success"><i class="bi bi-pencil-square"></i> Registro</a>
    </div>

@code {

    public List<Metas> L_Metas { get; set; } = new List<Metas>();
    public DateTime FechaInicial { get; set; }
    public DateTime FechaFinal { get; set; }
    public int opcion { get; set; }
    public bool activarCriterio { get { return opcion == 0; } }
    public string criterio { get; set; } = string.Empty;

    public decimal SumaMontos { get; set; }

    public int Conteo { get; set; }


    protected override async Task OnInitializedAsync()
    {
        L_Metas = await MetasServices.GetList(c => true);
    }


    async Task Filtrar()
    {
        switch (opcion)
        {
            case 0:
                {
                    SinFiltro();
                    await IncluirFecha();
                    break;
                }
            case 1:
                {
                    await FiltrarPorAporteId();
                    break;
                }
        }
    }

    async Task MostrarTodo()
    {
        await SinFiltro();
    }

    async Task SinFiltro()
    {
        L_Metas = await MetasServices.GetList(meta => true);
        criterio = string.Empty;
    }

    async Task FiltrarPorAporteId()
    {
        int IdBuscado = 0;
        if (int.TryParse(criterio, out IdBuscado))
        {
            L_Metas = await MetasServices.GetList(item => item.MetaId == IdBuscado
            && item.Fecha >= FechaInicial && item.Fecha <= FechaFinal);
        }
    }
    async Task IncluirFecha()
    {
        L_Metas = await MetasServices.GetList(item => item.Fecha >= FechaInicial && item.Fecha <= FechaFinal);
    }

    void ReiniciarFiltro()
    {
        if (opcion != 0)
        {
            opcion = 0;
            criterio = string.Empty;
        }
    }

    void ResetDate()
    {
        FechaInicial = DateTime.Today;
        FechaFinal = DateTime.Today;
    }
}


